.nav-header{
    background-color: #2C3639;
    padding: 1rem;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.nav-brand{
  display: flex;
  align-items: center;
  .nav-brand-title{
    padding-left: 1rem;
  }  
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link-item{
    padding-left: 1rem;
    display: flex;
    align-items: center;
}